.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #dfdfdf;
}
.home-top-header {
  /* width: 95%; */
  display: flex;
  align-items: center;
  padding-top: 16px;
  border-color: var(--dl-color-gray-black);
  padding-left: 48px;
  border-bottom: 2px solid #000000;
  background-color: #ffffff;
  padding-right: 48px;
  padding-bottom: 16px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.home-top-header-title {
  /* margin-left: 8px; */
  margin-left: 1px;
  padding-right: 10px;
  font-size: 32px;
  font-weight: bold;
}
.home-top-header-nav {
  display: contents;
  /* display: flex; */
  position: relative;
}
.home-navbar-text {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  /* margin-left: 32px; */
}
.home-navbar-text:hover {
  border-bottom: 2px solid #001affcb;
}
.home-return-to-home-button {
  width: 130px;
  height: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  margin-bottom: 12px;
  margin-top: 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #20349e;
  font-weight: bold;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.home-return-to-home-button:hover {
  background-color: #20359ec2;
}
/* .home-navbar-buttons {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  margin-left: 32px;
  cursor: pointer;
  outline: none;
} */
.home-search-bar {
  width: 400px;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
}
.home-top-header-login {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login-button {
  color: #ffffff;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-width: 1px;
  margin-right: 20px;
  background-color: #20349e;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  text-decoration: none;
}
.home-login-button:hover {
  background-color: #20359ec2;
}
.home-register-button {
  color: #ffffff;
  width: 140px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #20349e;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  text-decoration: none;
}
.home-register-button:hover {
  background-color: #20359ec2;
}
.home-home-test-devices {
  width: 80%;
  border: 1px solid #000000;
  height: auto;
  display: flex;
  padding-top: 1%;
  padding-left: 3%;
  margin-top: 2%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  background-color: #eaecf9;
}
.home-test-devices-header {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-test-devices-text {
  width: 40%;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 2%;
  font-weight: bold;
}
.home-add-device-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 43px;
  font-size: 16px;
  /* margin-left: 45%;
  margin-top: 2%; */
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
}
.home-add-device-button:hover {
  background-color: #dfdfdf;
}

.home-test-devices {
  padding-bottom: 25px;
}

.home-test-devices-container {
  /* width: 1400px; */
  width: auto;
  /* height: 573px; */
  height: 520px;
  display: grid;
  /* grid-gap: 32px; */
  align-items: flex-start;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* padding-bottom: 25px; */
}
.home-device1 {
  width: 90%;
  display: flex;
  padding: 16px;
  border: 1px solid #dfdfdf;
  max-width: MaxWidth;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-device1:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px 0px rgba(0, 26, 255, 0.300);
}
.home-device1 h2{
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
}
.home-device1 p{
  font-size: 16px;
  margin-bottom: 18px;
}
/* .home-device1 button{
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 40%;
  height: 35px;
  font-size: 16px;
}
.home-device1 button:hover{
  background-color: #dfdfdf;
} */
.home-device1button {
  display: flex;
  color: inherit;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f3f3f3;
  border: 1px solid #000000;
  width: 40%;
  height: 35px;
  font-size: 16px;
  text-decoration: none;
}
/* .pagination {
  bottom: -1%;
  left: 12%;
} */
/* .pagination button {
  margin-right: 5px;
} */
.home-device1button:hover {
  background-color: #dfdfdf;
}
.add-devices-page {
  margin-top: 10px;
}
@media(max-width: 991px) {
  .home-test-devices-text {
    align-self: center;
  }
  .home-test-devices-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-top-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-top-header-nav {
    display: none;
  }
  .home-home-text {
    margin-bottom: 16px;
  }
  .home-org-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-arch-dev-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-other-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-top-header-login {
    display: none;
  }
  .home-home-test-devices {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-top-header {
    padding: 16px;
  }
  .home-home-test-devices {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  .home-test-devices-container {
    grid-gap: 8px;
  }
}