/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eaecf9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 35px;
  margin: 50px 0;
  font-weight: bold;
}

.login {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  padding: 10px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  padding: 50px;
}

.box h2 {
  font-size: 18pt;
  margin: 10px 0;
}

.box p {
  font-size: 12pt;
  margin: 5px 0;
}

.box button {
  font-size: 12pt;
  padding: 6px 45px; 
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
}

.box button:hover {
  background-color: #c4c4c4;
}

.box {
  width: 180px;
  padding: 20px;
  border: 2px solid #000000;
  background-color: #eaecf9;
  color: #000000;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.centered-button {
  margin-top: 25px; 
  display: flex;
  justify-content: center;
}

.large-button {
  font-size: 16px; 
  padding: 12px 24px; 
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #000000;
  cursor: default;
  border-radius: 50px; 
}

.large-button:hover {
  background-color: #c4c4c4; 
}

.bottom-right-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
}
*/

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-header {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
  justify-content: space-between;
  margin-bottom: 1%;
}
.home-text {
  margin-left: 3%;
  margin-right: 5%;
}
.home-nav {
  display: flex;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10%;
}
.input {
  margin-left: 10%;
  width: 300px;
  font-size: 16px;
}
.home-org-text {
  margin-left: 3%;
}
.home-text01 {
  margin-left: 3%;
  white-space: nowrap;
}
.home-text02 {
  margin-left: 3%;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}
.home-login {
  margin-right: 5%;
  font-size: 15px;
  width: 150px;
  height: 35px;
  background-color: #20349e;
  color: #ffffff;
  border-radius: 5px;
  border-color: #20349e;
  font-weight: bold;
}
.home-features {
  width: 70%;
  height: auto;
  display: flex;
  padding: 2%;
  max-width: var(--dl-size-size-maxwidth);
  border: 1px solid #000000;
  background-color: #eaecf9;
  border-radius: 25px;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text03 {
  width: 613px;
  font-size: 30px;
  margin-bottom: 50px;
}
.home-add-device-button {
  width: 142px;
  height: 43px;
  margin-top: 25px;
  margin-left: 500px;
  background-color: #ffffff;
  font-size: 16px;
}
.home-container2 {
  width: 1300px;
  height: 556px;
  display: grid;
  grid-gap: 20px;
  align-items: flex-start;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-device1 {
  width: 250px;
  height: 130px;
  display: flex;
  padding: 16px;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  background-color: #ffffff;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-device1:hover {
  transform: scale(1.02);
}
.home-text07 {
  margin-bottom: 10px;
}
.home-text10 {
  margin-bottom: 10px;
}
.home-device2 {
  width: 250px;
  height: 130px;
  display: flex;
  padding: 16px;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  background-color: #ffffff;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-device2:hover {
  transform: scale(1.02);
}
.home-text11 {
  margin-bottom: 10px;
}
.home-text14 {
  margin-bottom: 10px;
}
.home-device3 {
  width: 250px;
  height: 130px;
  display: flex;
  padding: 16px;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  background-color: #ffffff;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-device3:hover {
  transform: scale(1.02);
}
.home-text15 {
  margin-bottom: 10px;
}
.home-text18 {
  margin-bottom: 10px;
}
.home-device4 {
  width: 250px;
  height: 130px;
  display: flex;
  padding: 16px;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  background-color: #ffffff;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-device4:hover {
  transform: scale(1.02);
}
.home-text19 {
  margin-bottom: 10px;
}
.home-text22 {
  margin-bottom: 10px;
}
@media(max-width: 991px) {
  .home-text03 {
    align-self: center;
  }
  .home-container2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-home-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-org-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    display: none;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container2 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
