/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eaecf9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 35px;
  margin: 50px 0;
  font-weight: bold;
}

.login {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  padding: 10px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  padding: 50px;
}

.box h2 {
  font-size: 18pt;
  margin: 10px 0;
}

.box p {
  font-size: 12pt;
  margin: 5px 0;
}

.box button {
  font-size: 12pt;
  padding: 6px 45px; 
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
}

.box button:hover {
  background-color: #c4c4c4;
}

.box {
  width: 180px;
  padding: 20px;
  border: 2px solid #000000;
  background-color: #eaecf9;
  color: #000000;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.centered-button {
  margin-top: 25px; 
  display: flex;
  justify-content: center;
}

.large-button {
  font-size: 16px; 
  padding: 12px 24px; 
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #000000;
  cursor: default;
  border-radius: 50px; 
}

.large-button:hover {
  background-color: #c4c4c4; 
}

.bottom-right-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
}
*/

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #dfdfdf;
}
.home-top-header {
  width: 95%;
  display: flex;
  align-items: center;
  padding-top: 16px;
  border-color: var(--dl-color-gray-black);
  padding-left: 48px;
  border-bottom: 2px solid #000000;
  background-color: #ffffff;
  padding-right: 48px;
  padding-bottom: 16px;
  justify-content: space-between;
}
.home-top-header-title {
  margin-left: 8px;
}
.home-top-header-nav {
  display: flex;
  position: relative;
}
.home-home-text {
  font-size: 20px;
}
.home-org-text {
  font-size: 20px;
  margin-left: 32px;
}
.home-arch-dev-text {
  font-size: 20px;
  margin-left: 32px;
}
.home-other-text {
  font-size: 20px;
  margin-left: 32px;
}
.home-search-bar {
  width: 400px;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}
.home-top-header-login {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login-button {
  color: #ffffff;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-width: 1px;
  margin-right: 20px;
  background-color: #20349e;
}
.home-login-button:hover {
  background-color: #20359ec2;
}
.home-register-button {
  color: #ffffff;
  width: 140px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #20349e;
}
.home-register-button:hover {
  background-color: #20359ec2;
}
.home-home-test-devices {
  width: 80%;
  border: 1px solid #000000;
  height: auto;
  display: flex;
  padding-top: 1%;
  padding-left: 3%;
  margin-top: 2%;
  border-radius: 25px;
  flex-direction: column;
  background-color: #eaecf9;
}
.home-test-devices-header {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-test-devices-text {
  width: 40%;
  font-size: 40px;
  margin-bottom: 30px;
}
.home-add-device-button {
  width: 142px;
  height: 43px;
  font-size: 16px;
  margin-left: 45%;
  margin-top: 2%;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.home-add-device-button:hover {
  background-color: #dfdfdf;
}
.home-test-devices-container {
  width: 1400px;
  height: 573px;
  display: grid;
  grid-gap: 32px;
  align-items: flex-start;
  grid-row-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-device1 {
  width: 90%;
  display: flex;
  padding: 16px;
  max-width: MaxWidth;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-device1:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px 0px rgba(0, 26, 255, 0.300);
}
.home-device1title {
  margin-bottom: 15px;
  margin-top: 0px;
}
.home-device1status {
  font-size: 16px;
  margin-bottom: 18px;
}
.home-device1button {
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 40%;
  height: 35px;
  font-size: 16px;
}
.home-device1button:hover {
  background-color: #dfdfdf;
}
@media(max-width: 991px) {
  .home-test-devices-text {
    align-self: center;
  }
  .home-test-devices-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-top-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-top-header-nav {
    display: none;
  }
  .home-home-text {
    margin-bottom: 16px;
  }
  .home-org-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-arch-dev-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-other-text {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .home-top-header-login {
    display: none;
  }
  .home-home-test-devices {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-top-header {
    padding: 16px;
  }
  .home-home-test-devices {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  .home-test-devices-container {
    grid-gap: 8px;
  }
}